00.Anteriores/
01.Informacion_PlanTrabajo/
03.Datasets/
02.Articulos_revisados/
servidor.txt
05.MemoriaFinalTrabajo/
04.Codigo/yolo_output/evaluations/
04.Codigo/yolo_output/yolo_models/
04.Codigo/optuna/