00.Anteriores/
01.Informacion_PlanTrabajo/
03.Datasets/
02.Articulos_revisados/
servidor.txt
04.Codigo/yolo/evaluations/
04.Codigo/Fast-RCNN.ipynb
04.Codigo/yolo/yolo_models/
04.Codigo/optuna/
08.Resultados Experimentacion/
04.Codigo/lib/YOLO_lib/__pycache__/
04.Codigo/lib/preprocesamiento_lib/__pycache__/
04.Codigo/lib/__pycache__/
04.Codigo/cell_detection_App/runs/detect/