/runs/
/cell_detection_App/models/
/__pycache__/
/labelImg/
/Fast_RCNN_models
/yolo_models
/yolo_plots
cells.yaml
yolo11n.pt
yolo12n.pt
yolo12x.pt
yolo12l.pt
yolo11l.pt
yolo11m.pt
yolo12m.pt
yolo11x.pt
yolo11s.pt
yolo12s.pt
yolo11.yaml
yolo11n.yaml
yolo12.yaml